.screen {
  background-image: url("../../../assets/backgroudmusic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%
}
//
