<mat-card>
  <mat-card-header>
    <h2>All the artists</h2>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef>Firstname</th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
      </ng-container>

      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef>Lastname</th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
      </ng-container>


      <ng-container matColumnDef="nickname">
        <th mat-header-cell *matHeaderCellDef>Nickname</th>
        <td mat-cell *matCellDef="let element"> {{element.nickname}} </td>
      </ng-container>

      <ng-container matColumnDef="birthdate">
        <th mat-header-cell *matHeaderCellDef>Birth Date</th>
        <td mat-cell *matCellDef="let element"> {{element.birthdate}} </td>
      </ng-container>

      <ng-container matColumnDef="nationality">
        <th mat-header-cell *matHeaderCellDef>Nationality</th>
        <td mat-cell *matCellDef="let element"> {{element.nationality}} </td>
      </ng-container>

      <ng-container matColumnDef="stillActive">
        <th mat-header-cell *matHeaderCellDef>Still Active</th>
        <td mat-cell *matCellDef="let element"> {{element.stillActive}} </td>
      </ng-container>

      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef><button mat-raised-button routerLink="/artists/create">Create</button></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/artists/{{element._id}}">
              <mat-icon>launch</mat-icon>
              <span>Show</span>
            </button>


            <button mat-menu-item routerLink="/artists/edit/{{element._id}}">
              <mat-icon>create</mat-icon>
              <span>Edit</span>
            </button>

            <button mat-menu-item (click)="delete(element._id)" routerLink="/matches">
              <mat-icon>delete_sweep</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 15]"
                   aria-label="Select page">
    </mat-paginator>
  </mat-card-content>
</mat-card>


