.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}

.item {
  text-align: left;
  padding-left: 2% !important;
}

mat-card {
  background-color: rgba(152,58,59,255);
  margin: 1%;
}

mat-card-content {
  background-color: #424242;
}

mat-card-header h2 {
  font-family: "Brush Script MT", cursive;
  font-size: 180%;
}
