<div class="grid-container" *ngIf="artist">
  <mat-card>
    <mat-card-header>
      <h2>{{artist.firstname}} {{artist.lastname}}</h2>
    </mat-card-header>

    <mat-card-content>
              <mat-list>
                <mat-list-item>
                  <div mat-line class="item"><strong>Nickname:</strong></div>
                  <div mat-line class="item"> {{artist.nickname}} </div>
                </mat-list-item>
                <mat-list-item>
                  <!--                  To-Do; Fixing the birthdate format -->
                  <div mat-line class="item"><strong>Birth Date:</strong></div>
                  <div mat-line class="item"> {{artist.birthdate}} </div>
                </mat-list-item>
                <mat-list-item>
                  <div mat-line class="item"><strong>Nationality:</strong></div>
                  <div mat-line class="item"> {{artist.nationality}} </div>
                </mat-list-item>
                <mat-list-item>
                  <div mat-line class="item"><strong>Still active:</strong></div>
                  <div mat-line class="item"> {{artist.stillActive}} </div>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-header>
              <h2>All the songs of the artist (Work in progress)</h2>
            </mat-card-header>
          </mat-card>
</div>

