.spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 2%;
  margin-right: 2%;
}

.title {
  font-family: "Brush Script MT", cursive;
  font-size: 180%;
}

mat-toolbar {
  background-color: rgba(152,58,59,255);
  border-bottom: black solid;
}
