<mat-toolbar>
<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
  <span class="title">Old School Music</span>

  <button mat-button disabled>
    Homepage
  </button>

  <button mat-button disabled>
    Songs
  </button>


  <button mat-button routerLink="/artists">
    Artists
  </button>

  <button mat-button routerLink="/bands">
    Bands
  </button>

  <button mat-button routerLink="/about">
    About
  </button>

  <span class="spacer"></span>

  <button mat-button disabled>
    (Username)
  </button>

<!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--    <mat-icon>share</mat-icon>-->
<!--  </button>-->
</mat-toolbar>
