<div *ngIf="artist">
  <mat-card>
    <mat-card-header>
      <h2>Edit Artist</h2>
    </mat-card-header>

    <mat-card-content>
      <form class="example-form" (ngSubmit)="save()" #artistForm="ngForm">


        <mat-form-field class="example-full-width">
          <mat-label>Firstname</mat-label>
          <input matInput [(ngModel)]="artist.firstname" name="firstname">
          <!--          <mat-error *ngIf="result.hasError('pattern')">You must enter a valid score! (..-..)</mat-error>-->
        </mat-form-field>

        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Lastname</mat-label>
          <input matInput [(ngModel)]="artist.lastname" name="lastname">
          <!--          <mat-error *ngIf="result.hasError('pattern')">You must enter a valid score! (..-..)</mat-error>-->
        </mat-form-field>

        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Nickname</mat-label>
          <input matInput [(ngModel)]="artist.nickname" name="nickname">
          <!--          <mat-error *ngIf="result.hasError('pattern')">You must enter a valid score! (..-..)</mat-error>-->
        </mat-form-field>

        <br>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Birthdate</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="artist.birthdate" name="birthdate"
                 required>
          <!--          <mat-error *ngIf="bir.hasError('required')">You must enter a value</mat-error>-->
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <br>

        <mat-form-field class="example-full-width">
          <mat-label>Nationality</mat-label>
          <input matInput [(ngModel)]="artist.nationality" name="nationality">
          <!--          <mat-error *ngIf="result.hasError('pattern')">You must enter a valid score! (..-..)</mat-error>-->
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
          <mat-label>Still active</mat-label>
          <mat-select [(value)]="artist.stillActive">
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
          <!--        <mat-error *ngIf="getStillActive().invalid">{{getErrorMessage(getStillActive())}}</mat-error>-->
        </mat-form-field>

        <br>

        <button type="submit" mat-raised-button>Submit</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>

