<div *ngIf="band">
  <mat-card>
    <mat-card-header>
      <h2>Edit Band</h2>
    </mat-card-header>

    <mat-card-content>

      <form class="example-form" (ngSubmit)="save()" #bandForm="ngForm">


        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="band.name" name="name">
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill">
          <mat-label>Still active</mat-label>
          <mat-select [(value)]="band.stillActive">
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field>
          <mat-label>Artists</mat-label>
          <mat-select [(value)]="band.artists" required multiple>
            <mat-option *ngFor="let artist of artists" [value]="artist._id">{{artist.nickname}}</mat-option>
          </mat-select>
        </mat-form-field>

        <br>

        <button type="submit" mat-raised-button>Submit</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
