<mat-grid-list cols="2" rowHeight="350px">

  <mat-grid-tile colspan="1" rowspan="2">
    <mat-card>
      <mat-card-header>
        <h2>ERD</h2>
      </mat-card-header>

      <mat-card-content>
        <img src="assets/ERD.png" alt="ERD of the project" width="600px" height="420px"/>
      </mat-card-content>

    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="2">
    <mat-card>
      <mat-card-header>
        <h2>Project Omschrijving</h2>
      </mat-card-header>

      <mat-card-content>
        <p>De website heeft de naam gekregen 'Old School Music'. De website wordt gebruikt om oude muziek op te zoeken
          die zijn afgespeeld in de 60's, 70's, 80's en 90's. Ook kan je daarbij de bijbehorende artiest of band zien.
          Een andere functie is dat je favoriete muziek kan opslaan in je profiel en kan
          je je vrienden volgen om te zien wat hun favoriete nummers zijn. Bovendien hebben mensen ook een mening te
          geven
          op nummers en is dit ook beschikbaar gesteld op de website door middel van comments op de detailpage van een
          nummer.</p>
        <br>
        <p>De belangerijkste functies die te vinden zijn op de website zijn:</p>
        <ul>
          <li>
            <p>Alle muzieknummers ophalen/bekijken.</p>
          </li>
          <li>
            <p>Alle artisten ophalen/bekijken.</p>
          </li>
          <li>
            <p>Alle bands ophalen/bekijken.</p>
          </li>
          <li>
            <p>Andermans favoriete muziek bekijken.</p>
          </li>
        </ul>

        <br>

        <p>De entiteiten die (later) gebruikt worden:</p>
        <ul>
          <li>
            <p>Band: id (String), name (String), stillActive (Boolean)</p>
          </li>
          <li>
            <p>Artist: id (String), firstname (String), lastname (String), nickname (String), birthdate (Date),
              nationality (String), stillActive (Boolean)</p>
          </li>
          <li>
            <p>Song: id (String), title (String), length (String), releasedate (Date), youtubelink (String),
              spotifylink (String)</p>
          </li>
          <li>
            <p>Comment: id (String), title (String), text (String), dateofcreate (Date), dateofedit (Date)</p>
          </li>
          <li>
            <p>User: id (String), username (String), password (String)</p>
          </li>
        </ul>

      </mat-card-content>

    </mat-card>

  </mat-grid-tile>


</mat-grid-list>

