mat-card-header h2 {
  font-family: "Brush Script MT", cursive;
  font-size: 180%;
}

mat-grid-list {
  margin: 1%;
}

mat-grid-tile {
  background-color: rgba(152,58,59,255);
  border: solid black;
}


mat-card {
  height: auto;
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
