mat-card-header h2 {
  font-family: "Brush Script MT", cursive;
  font-size: 180%;
}

mat-card {
  background-color: rgba(152,58,59,255);
  margin: 1%;
}

mat-card-content {
  background-color: #424242;
  padding: 1%;
 }

button {
  background-color: rgba(152,58,59,255);
}

