<mat-card>
  <mat-card-header>
    <h2>Create bands</h2>
  </mat-card-header>

  <mat-card-content>
    <form class="example-form" [formGroup]="bandForm">

      <mat-form-field class="example-full-width">
        <mat-label>name</mat-label>
        <input matInput #name formControlName="name"
               placeholder="The Rockers">
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Still active</mat-label>
        <mat-select #stillActive formControlName="stillActive">
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <mat-form-field>
        <mat-label>Artists</mat-label>
        <mat-select #artistsForm formControlName="artistsForm" multiple>
          <mat-option *ngFor="let artist of artists" [value]="artist._id">{{artist.nickname}}</mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <button mat-raised-button
              (click)="add(name.value, stillActive.value, artistsForm.value );">
        Submit
      </button>
    </form>
  </mat-card-content>
</mat-card>
