<div class="grid-container" *ngIf="band">

      <mat-grid-list cols="2" rowHeight="350px">

        <mat-grid-tile [colspan]="1" [rowspan]="1" class="tile1">

          <mat-card>
            <mat-card-header>
              <h2>Band Details</h2>
            </mat-card-header>

            <mat-card-content>
              <mat-list>
                <mat-list-item>
                  <div mat-line class="item"><strong>Name:</strong></div>
                  <div mat-line class="item"> {{band.name}} </div>
                </mat-list-item>

                <mat-list-item>
                  <div mat-line class="item"><strong>Still active:</strong></div>
                  <div mat-line class="item"> {{band.stillActive}} </div>
                </mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>


        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="2" class="tile2">

          <mat-card>
            <mat-card-header>
              <h2>All the artists in the band</h2>
            </mat-card-header>

            <mat-card-content>
              <mat-list *ngFor="let oneBand of band.artists">
                <mat-list-item>
                  <div mat-line class="item"><strong>Name:</strong></div>
                  <!-- TO-DO: Fixing a link to the artist  -->
                  <div mat-line class="item"> {{oneBand.firstname + ' ' + oneBand.lastname}} </div>

                  <div mat-line class="item"><strong>Nickname:</strong></div>
                  <div mat-line class="item"> {{oneBand.nickname}} </div>
                </mat-list-item>
              </mat-list>

            </mat-card-content>

          </mat-card>

        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" class="tile1">

          <mat-card>
            <mat-card-header>
              <h2>All the songs of the band (Work in progress) </h2>
            </mat-card-header>

            <mat-card-content>
            </mat-card-content>

          </mat-card>


        </mat-grid-tile>

      </mat-grid-list>

</div>

