<mat-card>
  <mat-card-header>
    <h2>Create artist</h2>
  </mat-card-header>

  <mat-card-content>
    <form class="example-form" [formGroup]="artistForm">

      <mat-form-field class="example-full-width">
        <mat-label>Firstname</mat-label>
        <input matInput #firstname formControlName="firstname"
               placeholder="John">
        <!--                <mat-error *ngIf="getFirstname().invalid">{{getErrorMessage(getFirstname())}}</mat-error>-->
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Lastname</mat-label>
        <input matInput #lastname formControlName="lastname"
               placeholder="Doe">
        <!--                <mat-error *ngIf="getLastname().invalid">{{getErrorMessage(getLastname())}}</mat-error>-->
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Nickname</mat-label>
        <input matInput #nickname formControlName="nickname"
               placeholder="The singer">
        <!--                <mat-error *ngIf="getNickname().invalid">{{getErrorMessage(getNickname())}}</mat-error>-->
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Birthdate</mat-label>
        <input matInput [matDatepicker]="picker" #birthdate formControlName="birthdate">
        <!--                <mat-error *ngIf="getBirthdate().invalid">{{getErrorMessage(getBirthdate())}}</mat-error>-->
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br>

      <mat-form-field class="example-full-width">
        <mat-label>Nationality</mat-label>
        <input matInput #nationality formControlName="nationality"
               placeholder="Netherlands">
        <!--                <mat-error *ngIf="getNationality().invalid">{{getErrorMessage(getNationality())}}</mat-error>-->
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Still active</mat-label>
        <mat-select #stillActive formControlName="stillActive">
          <mat-option value="true">True</mat-option>
          <mat-option value="false">False</mat-option>
        </mat-select>
        <!--        <mat-error *ngIf="getStillActive().invalid">{{getErrorMessage(getStillActive())}}</mat-error>-->
      </mat-form-field>

      <br>

      <button mat-raised-button
              (click)="add(firstname.value, lastname.value, nickname.value, birthdate.value, nationality.value, stillActive.value );">
        Submit
      </button>
    </form>
  </mat-card-content>
</mat-card>
